@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.up-animation {
  transition: all 0.6s ease-out ;
}

.up-animation:hover {
  transform: translateY(-10px);
}

.snsLink:hover > div {
  display: none;
}

.snsLink:hover > ul {
  display: block;
}

.circle-input {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #a3a6a7;
  background-color: white;
  border-radius: 50%;
}

.circle-input:checked {
  background-image: url('/current/bul_input_radio.png');
  width: 25px;
  height: 25px;
  background-position: bottom 3px right 3px;
  background-repeat: no-repeat;
  border: 2px solid #e20000;
}

.square-checkbox {
  appearance: none;
  background-color: white;
  width: 17px;
  height: 17px;
  border: 1px solid #a3a6a7;
}

.square-checkbox:checked {
  
  background-image: url('/current/bul_input_checkbox.png');
  width: 17px;
  height: 17px;
  background-position: bottom 3px right 1px;
  background-repeat: no-repeat;
  border: 1px solid #a3a6a7;
}